
@{
    ViewBag.Title = "Finishing";
}

<h2>Finishing</h2>


<input type="submit" name="prevBtn" value="Previous" class="btn btn-default" />
<input type="submit" name="nextBtn" value="Finish" class="btn btn-default" />
